.title {
  font-size: 30px;
  font-weight: bold
}
.example-area {
  width: 100px;
  height: 20px;
  font-weight: bold;
  font-size: '13px' 
}

.code-area {
  width: 300px;
  height: 400px;
  font-weight: bold;
  font-size: 12px;
  margin-left: 20px 
}

.test-area {
  width: 200px;
  height: 150px;
  font-weight: bold;
  font-size: 12px
}

.result {
  margin-top: 33px;
  font-size: 20px; 
  font-weight: bold
}

.myInlineDecoration {
	color: red !important;
	text-decoration: underline;
	font-weight: bold;
	font-style: oblique;
}
.myLineDecoration {
	background: lightblue;
	width: 5px !important;
	margin-left: 3px;
}

.myGlyphMarginClass {
  background-image: url('/img/alert.png');
  background-size: contain;
  background-repeat: no-repeat;  
  display: block; 
  margin-left: 1em;
}


.tests {
  margin-top: 2em;
  background-color: #F0F0F0;
  margin: black;
  width: 47em;
  padding: 2em;
}

.problem {
  margin-top: 3.5em;
  font-size: 1.2em;
  font-weight: bold
}

.results > * {
  display: inline;
}

.results pre {
  padding-right: 1em;
}

.results + .results {
  padding-top: 1.5em;
}

.results {
  display: flex;
  justify-content: space-between;
}

.error-display {
  padding-top: 0.8em;
  font: red;
}

.examples {
  margin-top: 1.5em;
  font-size: 1.2em;
  font-family: "Times New Roman", Times, serif;
}