
.code-example {
    background-color: rgb(232,232,232) ;
    width: 200px;
    margin-left: 50px;
    padding: 13px; 
    border-radius: 6px;
}

.title {
    text-align: center;
    font-size: 40px;
}